# GitHub Integration
GITHUB_WEBHOOK_SECRET=your_secret_here
GITHUB_TOKEN=

# ROBLE Database
ROBLE_AUTH_URL=https://roble-api.openlab.uninorte.edu.co/auth/:mlops_platform_1d2a289c51
ROBLE_DB_URL=https://roble-api.openlab.uninorte.edu.co/database/:mlops_platform_1d2a289c51
ROBLE_EMAIL=<email_del_usuario>
ROBLE_PASSWORD=<password_del_usuario>

# Infrastructure
REDIS_URL=redis://redis:6379/0
MLFLOW_TRACKING_URI=http://mlflow:5000
MODEL_SERVER_URL=http://model-server:8001

# Storage
MODELS_BASE_PATH=/app/models

# Pipeline behaviour
AUTO_DEPLOY_ON_SUCCESS=true
MIN_ACCURACY_THRESHOLD=0.70
RUNNER_BACKEND=celery

# Application
LOG_LEVEL=INFO
FRONTEND_URL=http://localhost:3000






